#footer {
  background-color: #1d1d1d;
}

#footer .inner {
  padding: 30px;
}

#footer .copyright {
  font-size: 10px;
  text-align: center;
  color: #8c8c8c;
}

#footer .inner {
  padding: 20px 0;
}

#js-pageTop {
  font-size: 12px;
  font-weight: bold;
  display: block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #ccc;
}
