<section class="section" id="about">
  <div class="inner">
    <div class="section-title-area">
      <h2 class="section-title">ABOUT</h2>
      <div class="section-intro">
        こんにちは！
      </div>
    </div>
    <div class="section-body">
      <div class="section-image">
        <img class="lazyload fadein" data-src="img/about/profile.jpg" alt="" />
      </div>
      <div class="section-desc">
        <div class="section-text">
          テキストテキストテキストテキストテキストテキストテキストテキストテキスト<br />テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br /><br />テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </div>
      </div>
    </div>
  </div>
</section>
