<section class="section" id="skill">
  <div class="inner">
    <div class="section-title-area">
      <h2 class="section-title">SKILL</h2>
      <div class="section-intro">
        未経験ですが頑張ります！
      </div>
    </div>
    <div class="section-body card-wrapper">
      <div class="card">
        <div class="skill-icon">
          <img src="img/skill/icon_skill.png" alt="" />
        </div>
        <div class="skill-desc">
          <h3 class="skill-desc-title">HTML5/CSS3</h3>
          <div class="rating">
            <div class="rate rate4"></div>
          </div>
          <div class="section-text">
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </div>
        </div>
      </div>
      <div class="card">
        <div class="skill-icon">
          <img src="img/skill/icon_skill.png" alt="" />
        </div>
        <div class="skill-desc">
          <h3 class="skill-desc-title">JavaScript</h3>
          <div class="rating">
            <div class="rate rate3"></div>
          </div>
          <div class="section-text">
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </div>
        </div>
      </div>
      <div class="card">
        <div class="skill-icon">
          <img src="img/skill/icon_skill.png" alt="" />
        </div>
        <div class="skill-desc">
          <h3 class="skill-desc-title">WordPress</h3>
          <div class="rating">
            <div class="rate rate4"></div>
          </div>
          <div class="section-text">
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </div>
        </div>
      </div>
      <div class="card">
        <div class="skill-icon">
          <img src="img/skill/icon_skill.png" alt="" />
        </div>
        <div class="skill-desc">
          <h3 class="skill-desc-title">Photoshop</h3>
          <div class="rating">
            <div class="rate rate4"></div>
          </div>
          <div class="section-text">
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </div>
        </div>
      </div>
      <div class="card">
        <div class="skill-icon">
          <img src="img/skill/icon_skill.png" alt="" />
        </div>
        <div class="skill-desc">
          <h3 class="skill-desc-title">Illustrator</h3>
          <div class="rating">
            <div class="rate rate3"></div>
          </div>
          <div class="section-text">
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </div>
        </div>
      </div>
      <div class="card">
        <div class="skill-icon">
          <img src="img/skill/icon_skill.png" alt="" />
        </div>
        <div class="skill-desc">
          <h3 class="skill-desc-title">XD</h3>
          <div class="rating">
            <div class="rate rate3"></div>
          </div>
          <div class="section-text">
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
