section {
  padding: 100px 0;
  background-color: #f7f7f7;

  .inner {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 40px;

    .title-area {
      margin-bottom: 38px;
      text-align: center;

      .title {
        margin-bottom: 15px;
        font-weight: normal;
        font-size: 40px;
        font-family: 'Open sans', sans-serif;
        line-height: 1;
        letter-spacing: 0.05em;
      }
    }
  }

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::after {
      display: block;
      flex-basis: 31%;
      content: '';
    }
  }
}

img {
  width: 350px;
  height: 260px;
}

.section-image a {
  display: block;
}

#works .card {
  flex-basis: 31%;
  margin-bottom: 60px;
}

#works .card:nth-child(3n + 1):nth-last-child(-n + 3),
#works .card:nth-child(3n + 1):nth-last-child(-n + 3) ~ div {
  margin-bottom: 0;
}

.card-image img {
  width: 100%;
}

.card-caption {
  text-align: center;
}

.card-caption-title {
  margin-top: 8px;
  font-weight: bold;
  font-size: 12px;
}

.card-caption-info {
  font-size: 10px;
}

.card-caption-url {
  font-size: 10px;
}

.card img.fadein {
  opacity: 0;
  transition: 1.5s;
}

.card img.fadein.lazyloaded {
  opacity: 1;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 4px solid #fff;

  &:first-of-type {
    border-top: 4px solid #fff;
  }

  .image-a {
    flex-basis: 30%;
  }

  .desc-a {
    flex-basis: 65%;

    .title {
      margin-bottom: 3px;
    }
  }
}

.tag:not(body).is-link {
  color: #fff;
  background-color: #3273dc;
}

.tag:not(body) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  padding-right: 0.75em;
  padding-left: 0.75em;
  color: #4a4a4a;
  font-size: 0.75rem;
  line-height: 1.5;
  white-space: nowrap;
  background-color: #f5f5f5;
  border-radius: 11.5px;
}

span {
  margin-right: 3px;
  font-weight: inherit;
  font-style: inherit;
}
