<section id="works">
  <div class="inner">
    <div class="title-area">
      <h2 class="title">WORKS</h2>
      <div class="intro">
        <div class="section-text">
          Web（デザインとコーディング）制作の記録です。<br
            class="pc"
          />デザイン練習用の架空サイト（ファーストビューのみ）も含んでおります。
        </div>
      </div>
    </div>
    <article>
      <div class="image-a"><img src="assets/aws.jpg" alt="" /></div>
      <div class="desc-a">
        <span class="tag is-link">
          Webアプリケーション
        </span>
        <span class="tag is-link">
          Link
        </span>
        <h3 class="title">会員制サイトリニューアル</h3>
        <p>日時</p>
        <p>内容</p>
      </div>
    </article>
    <article>
      <div class="image-a"><img src="assets/aws.jpg" alt="" /></div>
      <div class="desc-a">bbbb</div>
    </article>

    <div class="card-wrapper">
      <div class="card">
        <img
          [defaultImage]="'assets/spinner.gif'"
          [lazyLoad]="
            'https://images.unsplash.com/photo-1443890923422-7819ed4101c0?fm=jpg'
          "
          [useSrcset]="true"
          alt=""
        />
        <div class="card-caption">
          <div class="card-caption-title">サイト名が入る</div>
          <div class="card-caption-info">
            Design / Coding(Responsive) / WordPress
          </div>
          <div class="card-caption-url">
            <a class="url-link" href="https://yahoo.co.jp" target="_blank"
              >Link</a
            >
          </div>
        </div>
      </div>
      <div class="card">
        <a
          href="img/works/hairsalon.jpg"
          data-size="960x720"
          class="card-image hover-action-01"
        >
          <img
            class="lazyload fadein"
            src="img/placeholder4x3.png"
            data-src="img/works/hairsalon.jpg"
            alt=""
          />
        </a>
        <div class="card-caption">
          <div class="card-caption-title">サイト名が入る</div>
          <div class="card-caption-info">Design / Coding(Responsive)</div>
          <div class="card-caption-url">
            <a class="url-link" href="https://yahoo.co.jp" target="_blank"
              >Link</a
            >
          </div>
        </div>
      </div>
      <div class="card">
        <a
          href="img/works/girly.jpg"
          data-size="960x720"
          class="card-image hover-action-01"
        >
          <img
            class="lazyload fadein"
            src="img/placeholder4x3.png"
            data-src="img/works/girly.jpg"
            alt=""
          />
        </a>
        <div class="card-caption">
          <div class="card-caption-title">サイト名が入る</div>
          <div class="card-caption-info">Design</div>
        </div>
      </div>
      <div class="card">
        <a
          href="img/works/school.jpg"
          data-size="960x720"
          class="card-image hover-action-01"
        >
          <img
            class="lazyload fadein"
            src="img/placeholder4x3.png"
            data-src="img/works/school.jpg"
            alt=""
          />
        </a>
        <div class="card-caption">
          <div class="card-caption-title">サイト名が入る</div>
          <div class="card-caption-info">Design</div>
        </div>
      </div>
      <div class="card">
        <a
          href="img/works/game.jpg"
          data-size="960x720"
          class="card-image hover-action-01"
        >
          <img
            class="lazyload fadein"
            src="img/placeholder4x3.png"
            data-src="img/works/game.jpg"
            alt=""
          />
        </a>
        <div class="card-caption">
          <div class="card-caption-title">サイト名が入る</div>
          <div class="card-caption-info">Design</div>
        </div>
      </div>
      <div class="card">
        <a
          href="img/works/fashion.jpg"
          data-size="960x720"
          class="card-image hover-action-01"
        >
          <img
            class="lazyload fadein"
            src="img/placeholder4x3.png"
            data-src="img/works/fashion.jpg"
            alt=""
          />
        </a>
        <div class="card-caption">
          <div class="card-caption-title">サイト名が入る</div>
          <div class="card-caption-info">Design</div>
        </div>
      </div>
    </div>
  </div>
</section>
